{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
/* Styles personnalisés pour les boutons du panier */
.custom-btn {
  background-color: #A97448;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1rem;
}

/* Styler le bouton "Paiement" */
.btn-dark {
  background-color: #A97448;
  color: white;
  border-color: #A97448;
}

/* Styler le lien "Veuillez vous inscrire" */
.btn-dark a {
  color: white;
}

/* Styler le lien "Veuillez vous identifier" */
.btn-dark a:hover {
  color: #A97448;
}
</style>
<div class="container">

    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
    <div class="text-center alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
    <div class="text-center alert alert-info">
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">
        {% if not app.user %}
            <div class="container-fluid"
                style="border: solid 1px rgba(117,117,117,0.3); margin-left: 10px; padding: 20px;">
                <p style="color: #A97448;font-size: 20px; margin-bottom: 0;">Livraison gratuite pour les
                    membres.</p>
                <p style="color: #757575;">Devenez Membre Saveurs & Papilles pour profiter de livraisons rapides et gratuites. <a
                        href="{{ path('app_register') }}" style="color: #A97448;">Rejoingnez-nous</a>
                    ou <a href="{{ path('app_login') }}" style="color: #A97448;">S'identifier</a></p>
            </div>
        {% endif %}
            <div class="container-fluid">
                <h4 class="mt-4">Panier</h4>
                {% if items %}
                <table class="table">
                    {% for item in items %}
                    <tr>
                        <td><img src="{{ asset('images/produits/' ~ item.product.image) }}" alt="image du produit"
                                style="width: 150px; height: 150px; object-fit: contain;"></td>
                        <td><p class="mt-4"> {{ item.product.title }} <br>
                             {{ item.quantity }} produit(s)<br><br>
                            <a href="{{ path('cart_decrement', {id : item.product.id }) }}" class="btn btn-sm btn- mb-3 custom-btn"
                                style="width: 30px; height: 30px;">
                                <i class="fas fa-minus"></i>
                            </a>
                            <a href="{{ path('cart_add', {id : item.product.id }) }}" class="btn btn-sm btn- mb-3 custom-btn"
                                style="width: 30px; height: 30px;">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="{{ path('cart_remove', {id : item.product.id }) }}" class="btn btn-sm btn-danger mb-3 custom-btn"
                                style="width: 30px; height: 30px;">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>

                        </td>
                        <td>{{ item.product.price * item.quantity }} €</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Il n'y a aucun article dans votre panier.</p>
                {% endif %}
            </div>
        </div>
       

                {% if app.user %}
                <a href="{{ path('cart_validation') }}" class="btn btn-dark btn-large">valider votre panier</a>
                {% else %}
                <p>Veuillez vous <a href="{{ path('app_register') }}" style="color: #A97448;">inscrire</a> ou vous <a href="{{ path('app_login') }}" style="color: #A97448;">identifier</a> afin de pouvoir finaliser votre commande</p>
                {% endif %}
                

            </div>
        </div>
    </div>


</div>
{% endblock %} 

{# {% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">

    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
    <div class="text-center alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
    <div class="text-center alert alert-info">
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">
        {% if not app.user %}
            <div class="container-fluid"
                style="border: solid 1px rgba(117,117,117,0.3); margin-left: 10px; padding: 20px;">
                <p style="color: rgb(250, 84, 0);font-size: 20px; margin-bottom: 0;">Livraison gratuite pour les
                    membres.</p>
                <p style="color: #757575;">Devenez Membre MyShop pour profiter de livraisons rapides et gratuites. <a
                        href="">Rejoingnez-nous</a>
                    ou <a href="">S'identifier</a></p>
            </div>
        {% endif %}
            <div class="container-fluid">
                <h4 class="mt-4">Panier</h4>
                {% if items %}
                <table class="table">
                    {% for item in items %}
                    <tr>
                        <td><img src="{{ asset('images/produits/' ~ item.product.image) }}" alt="image du produit"
                                style="width: 150px; height: 150px; object-fit: contain;"></td>
                        <td><p class="mt-4"> {{ item.product.title }} <br>Chaussure pour
                          
                            <br> Quantité &nbsp;&nbsp;&nbsp; {{ item.quantity }} <br><br>
                            <a href="{{ path('cart_decrement', {id : item.product.id }) }}"
                                class="btn btn-sm btn-success mb-3" style="width: 30px; height: 30px;">
                                <i class="fas fa-minus"></i></a>
                            <a href="{{ path('cart_add', {id : item.product.id }) }}" class="btn btn-sm btn-success mb-3"
                                style="width: 30px; height: 30px;">
                                <i class="fas fa-plus"></i></a>
                            <a href="{{ path('cart_remove', {id : item.product.id }) }}" class="btn btn-sm btn-danger mb-3"
                                style="width: 30px; height: 30px;">
                                <i class="fa-regular fa-trash-can"></i></a></p>
                        </td>
                        <td>{{ item.product.price * item.quantity }} €</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Il n'y a aucun article dans votre panier.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <h4 class="mb-4">Récapitulatif</h4>
                <div class="row">
                    <div class="col-md-10">
                        <p>Avez-vous un code promotionnel ?</p>
                    </div>
                    <div class="col-md-2">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>Sous-total</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>Frais estimés de prise en charge et d'expédition</p>
                    </div>
                    <div class="col-md-2">
                        <p>Gratuit</p>
                    </div>
                </div>
                <hr>
                <div class="row pt-3">
                    <div class="col-md-10">
                        <p>Total</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ total }} €</p>
                    </div>
                </div>
                <hr>

                {% if app.user %}
                <a href="{{ path('stripe_payment') }}" class="btn btn-dark btn-large">Paiement</a>
                {% else %}
                <p>Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">identifier</a> afin de pouvoir finaliser votre commande</p>
                {% endif %}
                

            </div>
        </div>
    </div>


</div>
{% endblock %} #}