{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="text-center mb-5">
        <img src="#" alt="image profil" class="card-img-top"
            style="object-fit: contain;">
        <div class="alert alert-info">💬 Vous trouverez ci-dessous le tableau contenant l'ensemble des produits de la
            boutique
        </div>

        {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success">
            {{ message }}
        </div>
        {% endfor %}


        <a href="{{ path('admin_new_produit') }}" class="btn btn- mt-3"  style=" background-color: #A97448; color: #ffff;">Ajouter un produit</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    {% for data in colonnes %}
                    {% if (data != 'id') and (data != 'content') and (data != 'updatedAt') and ( data != 'descriptionShort') and ( data != 'ingredient')%}
                    <th>{{ data }}</th>
                    {% endif %}
                    {% endfor %}
                    <th>Voir</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for data in produits %}
                <tr>
                    <td>{{ data.title }}</td>
                    <td>{{ data.category }}</td>
                    <td><img src="{{ asset('images/produits/' ~ data.image) }}" alt="image de l'article"
                            style="max-height: 120px; max-width: 120px; object-fit: contain;"></td>
                    
                    <td>{{ data.stock }}</td>
                    <td>{{ data.createdAt | date('d/m/Y à H:i:s') }}</td>
                     <td>{{ data.price }} €</td>
                    <td><a href="{{ path('product_show', {'id': data.id}) }}" class="btn btn-" style=" color: #A97448;"><i
                                class="fa-solid fa-eye"></i></a></td>
                               
                    <td><a href="{{ path('admin_edit_produit', {'id': data.id}) }}" class="btn btn-" style=" color: #A97448;"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{{ path('admin_delete_produit', {'id': data.id}) }}" class="btn btn-"style=" color: #A97448;"><i
                                class="fa-solid fa-trash-can"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
