

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la commande</h1>

    {{ form_start(form) }}
        {{ form_row(form.statut) }}
        {{ form_row(form.total)}}
        {{ form_row(form.quantity)}}
        {{ form_row(form.user) }}
       
 

    <div class="text-center">
 <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
</div>


{% endblock %}
