{% extends "base.html.twig" %}

{% block body %}

<div class="container text-center">
<h1 class="mb-4">
    {% if editMode %}
        Modification d'une commande
    {% else %}
        Création d'une commande 
    {% endif %}
</h1>
</div>

{# form() est une fonction twig permettant d'afficher un formulaire #}
{# {{ form(formArticle) }} #}

{{ form_start(formEdit, {
    attr : {
        'class': 'col-md-7 mx-auto'
    }
}) }}
{# form_start() et form_end() permettent de délimiter un formulaire, de modifier ses champs, de changer la méthode du formulaire ...  #}

{# form_row() permet de gérer l'affichage d'un champ et de son label #}
{{ form_row(formEdit.total, { 'attr': {'placeholder': "Titre"} }) }}
{{ form_row(formEdit.statut, { 'attr': {'placeholder': "Description Technique", 'rows': 15} }) }}
{{ form_row(formEdit.quantity) }}
{{ form_row(formEdit.user) }}
{{ form_row(formEdit.product) }}


<div class="text-center">
<button type="submit" class="btn btn- mt-2" style=" background-color: #A97448; color: #ffff;"">
    {% if editMode %}
        Enregistrer les modifications ✅
    {% else %}
        Ajouter le produit ✅
    {% endif %}
</button>
</div>

{{ form_end(formEdit) }}

{% endblock %}